extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        //displays name
        h1 #{projectInfo.project_name}
        //displays description
        p.lead.text-light
          | #{projectInfo.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        //displays project technologies
        ul
          each tech in projectInfo.technologies
            li= tech
        //displays page links
        a.button.expanded(href=projectInfo.github_pages target="_blank") Live Demo
        a.button.expanded(href=projectInfo.github_link target="_blank") GitHub Repo
  //display project images
  each pic in projectInfo.image_url
    img.image(src=pic)